/* Layout
----------------------*/

html, body, #home {
    height: 100%;
}

#home {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home {
    background: url(../img/fundo.jpg);
    background-size: 100%;
}



/* Barra de navegação
----------------------*/

.logo-top {
    margin-left: 15px;
}
.logo-top h3 {
    font-weight: 900;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

.link-top {
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
    padding: 0px 8px;
}

.link-top:hover {
    text-decoration: none;
    color: #9bf0e1;
}

.navbar-toggler {
    margin-right: 15px;
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 5px 10px;
}

.logo {
    color: #ff5f43;
}

/* Capa 
------------------*/

#home .my-picture img {
    width: 400px;
    border-radius: 180px;
}


/* Sobre */

#postagens {
    background: #f3f2f2;
}

#postagens h2 {
    text-align: center;
    font-weight: 700;
    padding: 20px;
}

#postagens .my-description {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
    font-weight: 600;
    text-indent: 20px;
    text-align: justify;
}

#postagens h3 {
    font-weight: 700;
    letter-spacing: -0.05em;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
} 

.logos-tec {
    background: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315);
    width: 160px;
    margin: 10px 30px;
}

.tecnologias{
    text-align: center;
    padding: 30px 0;
}
 
.tecnologias img{
    margin: 15px;
}

.tecnologias p {
    font-size: 1.1em;
    font-weight: 700;
}

#postagens .descricoes {
    width: 400px;
    padding-left: 20px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
    margin: 0 10px 30px 10px
}

#postagens .descricoes i {
    padding-right: 8px;
}

#postagens .descricoes h3 {
    margin-top: 5px;
}

#postagens .descricoes h4 {
    padding-bottom: 10px;
}

#postagens .descricoes p {
    padding-bottom: 10px;
}

#previa-portfolio .veja-mais {
    text-align: center;
    padding-bottom: 20px;
}

#previa-portfolio .btn-custom {
    background: transparent;
    font-size: 1.2em;
    font-weight: 800;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    border: solid rgba(255, 255, 255, 0.5) 3px;
}

#previa-portfolio .btn-custom:hover {
    background: #fff;
    color: #000;
}

#previa-portfolio h3 {
    text-align: center;
    padding: 30px;
    font-size: 2.6em;
    font-weight: 800;
}

#previa-portfolio .item {
    text-align: center;
    padding: 15px 0;
    visibility: visible;
}

#previa-portfolio .item img {
    width: 300px;
    border-radius: 15px;
}

#previa-portfolio h4 {
    color: #97e8eb;
    padding: 10px;
    font-weight: 700;
    font-size: 1.8em;
}

.descricao-item {
    width: 300px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}



/* Rodape
--------------------*/
footer {
    background: #343435;
}

footer .logo-bottom {
    padding: 15px;
    color: #fff;
}

.logo-bottom h3{
    font-weight: 900;
}

footer .redes-sociais {
    text-align: center;
}

footer .redes-sociais i {
    padding: 15px;
    color: #fff;
}

footer .redes-sociais i:hover {
    color: #000;
}

footer .freepik {
    margin-top: 30px;
    text-align: center;
}

footer .freepik a {
    color: #fff;
    font-size: 1em;
}

footer .freepik a:hover {
    color: #81c1d4;
    text-decoration: none;
}

/* Portfólio 
-----------------*/

#Portfolio {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#Portfolio {
    background: url(../img/fundo.jpg);
    background-size: 100%;
    background-attachment: fixed;
    
    
}

#Portfolio .capa{
    position: relative;
    display: flex;
    justify-content: center;
}


#Portfolio h1 {
    text-align: center;
    padding: 100px 10px 0px 10px;
    color: #fff;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
}

#Portfolio .item {
    text-align: center;
    padding: 15px 20px;
}

#Portfolio .item img {
    width: 300px;
    border-radius: 15px;
}

#Portfolio h4 {
    color: #97e8eb;
    padding: 10px;
    font-weight: 700;
    font-size: 1.8em;
}

.descricao-item {
    width: 300px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}

#Portfolio .btn-custom {
    background: transparent;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    border: solid rgba(255, 255, 255, 0.5) 3px;
}

#Portfolio .btn-custom:hover {
    background: #fff;
    color: #000;
}

/*Fim portfólio
-----------------*/

/* Contato 
----------------*/
#contato , html, body{
    height: 100%;
}

#contato {
    background: url(../img/fundo.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#contato {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

#contato h3 {
    text-align: center;
    padding: 10px;
    font-weight: 900;
}

#contato h4 {
    color: #fff;
    font-weight: 800;
}


.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.contato {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
    border:1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.bootao-enviar {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(50deg,#7c26f8, #ff4169);
    box-shadow: 1px 1px 5px #000;
    font-weight: 800;
    font-size: 1.2em;
}

textarea {
    height: 150px;
}




/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #home, body{
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #home, body  {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    .capa h1 {
        font-size: 3.4em;
        margin-bottom: 15px;
        text-align: center;
        color: #fff;
        font-weight: 800;
        letter-spacing: -0.05em;
    }

    .capa h2 {
        font-size: 2.2em;
        padding: 25px 0;
        color: #81c1d4;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-align: center;
    }

    .capa h3 {
        font-size: 1.8em;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 600;
        text-align: center;
    }

    #postagens h2 {
        font-size: 2em;
    }

    #postagens .my-description {
        width: 350px;
        margin: 0 auto;
        font-size: 1.2em;
    }

    .descricao-item {
        border-bottom: solid 2px #cabec152;
        color: #fff;
        font-size: 1.2em;
    }

    #previa-portfolio h3 {
        font-size: 2em;
    }

    #previa-portfolio .btn-custom {
        font-size: 1.2em;
    }

    .logos-tec {
        width: 120px;
        margin: 15px 15px;
    }

    footer .logo-bottom {
        text-align: center;
        border-bottom: solid 2px #cabec152;
    }

    footer .freepik {
        margin-bottom: 15px;
        text-align: center;
    }

    /* portfolio
    ---------------*/
    #Portfolio {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #Portfolio {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    #PortffPortfolioolio h1 {
        font-size: 2.3em;
    }
    
    #Portfolio .descricao-item {
        border-bottom: solid 3px #cabec188;
        color: #fff;
        font-size: 1.2em;
        padding-bottom: 15px;
    }

    /* Fim portfolio 
    -----------------*/

    /* contato 
    -----------------*/
    #contato {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #contato {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    #contato .contato {
        width: 90%;
        margin-top: 120px;
    }

    /* fim contato 
    ----------------*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #home, body {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #home, body {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    .capa h1 {
        font-size: 3.6em;
        text-align: left;
        font-weight: 800;
        letter-spacing: -0.05em;
        color: #fff;
        margin-left: 30px;
        padding: 10px;
    } 
    
    .capa h2 {
        font-size: 2em;
        color: #81c1d4;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }
    
    .capa h3 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }

    #postagens h2 {
        font-size: 2.8em;
    }

    #postagens .my-description {
        width: 500px;
        margin: 0 auto;
        font-size: 1.4em;
    }

    footer .logo-bottom {
        text-align: center;
        border-bottom: solid 2px #cabec152;
    }

    #previa-portfolio .btn-custom {
        font-size: 1.4em;
    }

    /* portfolio 
    -------------------*/
    #Portffolio {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #Portffolio {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    #Portffolio h1 {
        padding-bottom: 20px;
    }

    /* fim portfolio 
    -------------------*/

    /* contato 
    -----------------*/
    #contato {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #contato {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    #contato .contato {
        width: 90%;
        margin-top: 120px;
    }

    #contato .contato {
        width: 90%;
        margin-top: 120px;
    }
    
    /* fim contato 
    ----------------*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #home, body {
        background: url(../img/fundo.jpg) no-repeat;
    }

    #home, body {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    .capa h1 {
        font-size: 3em;
        text-align: left;
        font-weight: 800;
        letter-spacing: -0.05em;
        color: #fff;
        margin-left: 30px;
        padding: 10px;
    } 
    
    .capa h2 {
        font-size: 2em;
        color: #81c1d4;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }
    
    .capa h3 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }

    #postagens h2 {
        font-size: 2.8em;
    }

    #postagens .my-description {
        width: 460px;
        margin: 0 auto;
        font-size: 1.2em;
    }

    .my-picture {
        margin-top: 70px;
    }

    #Portffolio h1 {
        padding-bottom: 20px;
    }

    /* fim portfolio 
    ---------------*/

    /* contato 
    -----------------*/
    #contato .contato {
        width: 90%;
        margin-top: 120px;
    }
    
    /* fim contato 
    ----------------*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #home, body {
        background: url(../img/fundo.jpg) no-repeat;
        background-size: 120%;
        background-attachment: fixed;
    }

    .capa h1 {
        font-size: 3.6em;
        text-align: left;
        font-weight: 800;
        letter-spacing: -0.05em;
        color: #fff;
        margin-left: 30px;
        padding: 10px;
    } 
    
    .capa h2 {
        font-size: 2em;
        color: #81c1d4;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }
    
    .capa h3 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }

    #postagens h2 {
        font-size: 2.7em;
    }
    
    #postagens .my-description {
        font-size: 1.em;
    }

    .minha-descricao {
        width: 500px;
        margin: 0 auto;
        font-size: 1.2em;
    }

    .my-picture {
        margin-top: 70px;
    }

    #Portffolio h1 {
        padding-bottom: 20px;
    }

    /* fim portfolio
    ---------------*/

    /* contato 
    -----------------*/
    #contato .contato {
        width: 100%;
        margin-top: 120px;
    }
    
    /* fim contato 
    ----------------*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home, body{
        background: url(../img/fundo.jpg) no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }

    .capa h1 {
        font-size: 4.5em;
        text-align: left;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: #fff;
        margin-left: 30px;
        padding: 10px;
    } 
    
    .capa h2 {
        font-size: 2em;
        color: #81c1d4;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }
    
    .capa h3 {
        font-size: 1.2em;
        color: #fff;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: left;
        margin-left: 30px;
        padding: 5px;
    }

    #postagens h2 {
        font-size: 2.5em;
    }

    .minha-descricao {
        font-size: 1.2em;
    }

    #Portffolio h1 {
        padding-bottom: 20px;
    }

    /* fim portfolio
    ------------------*/

    /* contato 
    -----------------*/
    #contato .contato {
        width: 100%;
    }
    
    /* fim contato 
    ----------------*/
}

