/* Layout
----------------------*/

#home {
    height: 100%;
}

#home {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#home {
    background: url(../img/fundo.jpg);
    background-size: 100%;
    background-attachment: fixed;
    
    
}

#home .capa{
    position: relative;
    display: flex;
    justify-content: center;
}

/* Barra de navegação
----------------------*/

.logo-top {
    margin-left: 15px;
}

.logo-top h3 {
    font-weight: 900;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

.link-top {
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
    padding: 0px 8px;
}

.link-top:hover {
    text-decoration: none;
    color: #9bf0e1;
}

.navbar-toggler {
    margin-right: 15px;
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 5px 10px;
}

.logo {
    color: #ff5f43;
}
/* Conteudos
--------------------*/

#home h1 {
    text-align: center;
    padding: 90px 10px 0px 10px;
    color: #fff;
    font-weight: 800;
    letter-spacing: -0.03em;
}

#home .item {
    text-align: center;
    padding: 15px 20px;
}

#home .item img {
    width: 300px;
    border-radius: 15px;
}

#home h4 {
    color: #97e8eb;
    padding: 10px;
    font-weight: 700;
    font-size: 1.8em;
}

.descricao-item {
    width: 300px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}

/* Rodape
--------------------*/
footer {
    background: #343435;
}

footer .logo-bottom {
    padding: 15px;
    color: #fff;
}

.logo-bottom h3{
    font-weight: 900;
}

footer .redes-sociais {
    text-align: center;
}

footer .redes-sociais i {
    padding: 15px;
    color: #000;
}

footer .redes-sociais i:hover {
    color: #fff;
}

footer .freepik {
    margin-top: 30px;
    text-align: center;
}

footer .freepik a {
    color: #fff;
    font-size: 1em;
}

footer .freepik a:hover {
    color: #81c1d4;
    text-decoration: none;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    #home {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #home {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    #home h1 {
        padding-bottom: 20px;
    }
    
    #home .descricao-item {
        border-bottom: solid 3px #cabec188;
        color: #fff;
        font-size: 1.2em;
    }

    footer .logo-bottom {
        text-align: center;
        border-bottom: solid 2px #cabec152;
    }

    footer .freepik {
        margin-bottom: 15px;
        text-align: center;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #home {
        background: url(../img/fundo-responsivo.jpg) no-repeat;
    }

    #home {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed
    }

    #home h1 {
        padding-bottom: 20px;
    }

    footer .logo-bottom {
        text-align: center;
        border-bottom: solid 2px #cabec152;
    }

    footer .freepik {
        margin-bottom: 15px;
        text-align: center;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #home h1 {
        padding-bottom: 20px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #home h1 {
        padding-bottom: 20px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home h1 {
        padding-bottom: 20px;
    }
}